# Azure bootstrap configuration
SUBSCRIPTION_ID=00000000-0000-0000-0000-000000000000
RESOURCE_GROUP=my-llmops-rg
LOCATION=eastus
TFSTATE_STORAGE_ACCOUNT=tfllmops
TFSTATE_CONTAINER=tfstate
APP_NAME=gha-llmops-azure
GITHUB_REPO=devgoon/llmops-azure
GITHUB_BRANCH=main
FED_NAME=github-actions-main
