resource_group_name = "my-llmops-rg"
location            = "eastus"
acr_name            = "acrllmops"
containerapp_env_name = "llmops-env"
containerapp_name     = "llmops-api"
image_uri             = "mcr.microsoft.com/azuredocs/containerapps-helloworld:latest"

cpu          = 0.25
memory       = "0.5Gi"
min_replicas = 0
max_replicas = 1
target_port  = 8000
